body{
     background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)), url("photos/caastle.JPG");
     background-repeat: repeat;
}
 h1{
     color: white;
    font-family: "Garamond", Times, serif;
    text-align:center;
     font-size: 80px;
     text-shadow: 0px 1px;
}
 li {
    display: inline;
    text-align: center;
}
 ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
     width: 1260px;
     background-color: transparent;
}

 li a {
     display: inline;
     color: white;
     padding: 10px;
     text-decoration: none;
     font-size: 25px;
      font-style: italic;
    font-family: "Garamond", Times, serif;
}
.copyright {
width:370px;
height:500px;    
}
.pro {
    display: block;
    padding: 30px;
}
.menu {
text-align: center;
}
 li a:hover {
    opacity:0.3;
     background-color: #555;
     color: white
}
 p.portfoliodescription{
    color: white;
    text-align:center;
    font-size: 30px;
    font-family:"Helvetica", Sans-serif;
}
 p.crown{
    color: white;
     text-align:center;
     font-size: 110px;
     text-decoration: none;
}
p.crown visted { text-decoration: none; color:white; 
}

p.bird{
    color: white;
     text-align:center;
     font-size: 100px;
}
 p.whoami{
    color: rgb(252, 241, 210);
     text-align:center;
     font-size: 30px;
    font-family: "Garamond", Times, serif;
     outline-style: double;
     outline-color: rgb(252, 241, 210);
     margin: 100px;
    padding: 50px;
}
 img{
    width:370px;
     height:500px;
     text-align:center;
     margin: auto;
     padding: 2em;
}

.introduction{
    display: flex;
    row-gap: 1px;
}

.faisalportrait{
    padding-left: 70px;
}
.resume{
width:600px;  
height: 850px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.marty{
padding: 30px;
font-size: 30px;
color: white;
font-family:"Garamond", Times, serif;
text-align: center;
font-weight: bold;
}
.pine{
display: flex;
 width:600px;  
height: 450px;   
}
.dog{
display: flex;
width:600px;  
height: 450px;   
}
.stuck{
display: flex;
 width:600px;  
height: 450px;   
}
.videos{
text-align: center;
}
.caption1{
text-align: center;
font-style: italic;
color: rgb(252, 241, 210);;
    font-family:"Helvetica", Sans-serif;
    text-align:center;
     font-size: 30px;
}
.own{
display: flex;
width:800px;  
height: 450px;   
}
 p.adjust{
    color: white;
     text-align: left;
     font-size: 20px;
    font-family:"Helvetica", Sans-serif;
     outline-style: double;
     outline-color: white;
     margin: 80px;
    padding: 40px;
    background-color: rgba(82, 68, 53, 0.4);
}
.omak{
height: 700px;
width: 100%;
margin: auto;
}
.navbar {
  overflow: hidden;
  width: 1300px;
  background-color: rgba(82, 68, 53, 0.8);
  position: fixed; 
  top: 0;
  text-align: center;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-size: 23px;
  font-style: italic;
  padding: 24px 90px;
  text-decoration: none;
  
}

.navbar a:hover {
    opacity:0.3;
     background-color: #99895D;
     color: white
}
.main {
  margin-top: 30px;
}
.cr {
    color: white;
    opacity:0.4;
    font-family: "Garamond", Times, serif;
    text-align:center;
    text-decoration: none;
    font-style: italic;
    margin: 2px
}
.dear{
 width:400px;  
height: 500px;
}
.container-1{
border: 1px #ccc solid;
background-color: rgba(252, 241, 210, 0.1);
padding: 10px;
display: flex
}
.box-1{
}
.box-2{
}
.passing{
padding: 10px;
font-size: 50px;
color: white;
font-family:"Helvetica", Sans-serif;
text-align: left;
}
.dates{
font-family:"Bradley Hand", cursive;
font-size: 50px;
color: white;
text-align: center;
}
.passingg{
padding: 10px;
font-size: 50px;
color: white;
font-family:"Helvetica", Sans-serif;
text-align: center;
}